<form method="POST" action="/task/add">
    <label>Add Tasks</label>
    <input type="text" name="task" placeholder="Add Task"></input>
    <input type="submit" value="Submit"></input>
</form>

<%= title %>

<ul>
<% tasks.forEach(function(task) { %>
    <li><%= task %></li>
<% }) %>
</ul>